<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <%- include('../partials/head', {title: 'Inicio'}); %>
</head>

<body>
  <%- include('../partials/sidenav'); %>

  <div class="main-content" id="panel">

    <%- include('../partials/topnav'); %>
    <%- include('../partials/header'); %>

    <div class="container-fluid mt--6">
      
    </div>

  </div>

  <%- include('../partials/scripts', {view: 'sb-home'}); %>
  <!-- Main JS -->
  <script src="/assets/js/argon.js?v=1.1.0"></script>
  <!-- Personalization JS -->
  <script src="/js/app/index.js" type="module"></script>

</body>

</html>